# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Data
data/raw/
data/interim/
data/processed/
data/external/

# Backups
outputs/results_backup_*/
acm_for_vast.zip
swarm.zip
acm.zip

# Outputs
outputs/checkpoints/
outputs/logs/
outputs/figures/
outputs/results/

# Environment
.env

.venv/
__pycache__/
*.pyc
data/raw/
data/interim/
data/processed/
outputs/checkpoints/
outputs/logs/
outputs/figures/
outputs/results/
.ipynb_checkpoints/
.DS_Store
_test_audio_upload/
outputs/checkpoints_backup/